body{
    padding: 0;
    margin: 0;
    width: 100%;
    height:100%;
}
html{
    width: 100%;
    height:100%;
}


.box{
    width:100%;
    height:100%;
    /*background: red;*/
}
header{
    width:100%;
    height:1.03rem;
    background:#0EBF77;
    padding-left: .14rem;
    padding-right: .14rem;
}

header div{
    float: left;
}
.left{
    width:5.2rem;
    height: 100%;
    /*background: red;*/
    display: flex;
    justify-content: space-between;
}
.left a{
    display: block;
    font-size: .4rem;
    line-height: 1rem;
    text-decoration: none;
    color: #76DBB1;
}
.left a:nth-child(2){
    display: block;
    border-bottom: .1rem solid #fff;
    font-size: .4rem;
    line-height: 1rem;
    text-decoration: none;
    color: #fff;
}
.left a:hover{
    display: block;
    border-bottom: .1rem solid #fff;
    font-size: .4rem;
    line-height: 1rem;
    text-decoration: none;
    color: #fff;
}
.right{
    width: 2rem;
    height:100%;
    display: flex;
    justify-content: space-between;
    /*background: black;*/
}
.right a{
    display: block;
    font-size: .4rem;
    line-height: 1rem;
    text-decoration: none;
    /*color: #76DBB1;*/
    color:#fff;
    float: left;
}
.right a:nth-child(1){
    padding-left: .8rem;
}

#neirong{
    width: 100%;
    height: auto;
    margin-top: .3rem;

}

#contrast{
    width: 2.2rem;
    height: 11.7rem;
    background:#eee;
    float: left;
}
#contrast a{
display: block;
    float: left;
    width: 100%;
    height: .94rem;
    box-sizing: border-box;
    border-bottom: 1px solid #e4e4e4;
    font-size: .35rem;
    text-align: center;
    text-decoration: none;
    color:#333;
    line-height: .94rem;
}
#contrast a:hover{
    display: block;
    float: left;
    width: 100%;
    height: .94rem;
    box-sizing: border-box;
   background: #fff;
    color:#1CD186;
}


.swiper-container{
    width: 4.82rem;
    /*background: red;*/
    float: left;
    margin-left: .24rem;
}
.swiper-container .swiper-wrapper .swiper-slide a{
    display: block;
    width: 2.2rem;
    height: 1.56rem;
    float: left;
    background: black;
    border-radius: 8px;
    margin-left: .12rem;
    margin-top: .12rem;

}
.swiper-container .swiper-wrapper .swiper-slide a img{
    display: block;
    width: 100%;
    height: 100%;
}

















/*#neirong{*/
    /*width: 100%;*/
    /*height: 5rem;*/
    /*background: red;*/
    /*padding-top: .16rem;*/
/*}*/
.neirong .zuo{
    width: 2.2rem;
    height: 11.7rem;
    background:#eee;
    float: left;
}
/*.neirong .zuo ul li{*/
    /*width:2.2rem;*/
    /*height: .94rem;*/
    /*background: #EEEEEE;*/
    /*font-size: .3rem;*/
    /*text-align: center;*/
    /*line-height: .94rem;*/
    /*box-sizing: border-box;*/
    /*border-bottom: 1px solid #E0E1E1;*/
/*}*/
/*.neirong .zuo ul li:hover{*/
    /*width:2.2rem;*/
    /*height: .94rem;*/
    /*background: #fff;*/
    /*font-size: .3rem;*/
    /*text-align: center;*/
    /*line-height: .94rem;*/
    /*box-sizing: border-box;*/
    /*color:#8CD4BD;*/
    /*border-bottom: 1px solid #E0E1E1;*/
/*}*/



/*.neirong .you{*/
    /*height: 10.42rem;*/
    /*width: 5rem;*/
    /*!*background: red;*!*/
    /*float: left;*/
    /*margin-left: .2rem;*/

/*}*/
/*.neirong .you a{*/
    /*display: block;*/
    /*float: left;*/
    /*width: 2.32rem;*/
    /*height: 1.57rem;*/
    /*background: blue;*/
    /*margin-left: .115rem;*/
    /*margin-top: .13rem;*/
    /*border-radius: 8px;*/
/*}*/
/*.neirong .you a img{*/
    /*display: block;width: 100%;height: 100%;*/
    /*border-radius: 8px;*/
/*}*/